---
import { type CollectionEntry, getCollection } from "astro:content";

import MainLayout from "../../layouts/main-layout.astro";
import Container from "../../views/_components/container.astro";
import ArrowCard from "../../views/_components/arrow-card.astro";
import { BLOG } from "../../consts";
import { css } from "../../../styled-system/css";

const data = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = Record<string, CollectionEntry<"blog">[]>;

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<MainLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class={css({ "& > * + *": { mt: 10 } })}>
      <div class={`animate ${css({ fontWeight: "semibold", color: { base: "black", _dark: "white" } })}`}>Blog</div>
      <div class={css({ "& > * + *": { mt: 4 } })}>
        {
          years.map((year) => (
            <section class={`animate ${css({ "& > * + *": { mt: 4 } })}`}>
              <div class={css({ fontWeight: "semibold", color: { base: "black", _dark: "white" } })}>{year}</div>
              <div>
                <ul class={css({ display: "flex", flexDirection: "column", gap: 4 })}>
                  {posts[year].map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Container>
</MainLayout>
