---
import { css } from "../../../styled-system/css";
import MainLayout from "../../layouts/main-layout.astro";
import Container from "../../ui/common/container.astro";

interface Props {
  title: string;
  bioImageResource: string;
}
---

<MainLayout title="Home" description="Paulo Henrique's personal website" lang={Astro.currentLocale!}>
  <Container styles={css.raw({ py: { base: 32, sm: 44, "2xl": 52 } })}>
    <h1
      class={css({
        fontSize: { base: "5xl", md: "6xl" },
        color: "clr_neutral_900_50",
        lineHeight: "1.1",
        fontFamily: "'Fraunces Variable', serif",
      })}
    >
      {Astro.props.title}
    </h1>
    <div class={"prose-ui antialiased " + css({ mt: 10, maxW: "xl" })}>
      <slot />
    </div>
  </Container>
</MainLayout>
